:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1300px;
  width: 100%;
  padding: 2rem;
  margin: auto;
}

h1 {
  text-align: center;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
}

.container > form {
  width: 50%;
  display: flex;
  gap: 5px;
  margin: 2rem auto;
}


